* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#grid {
  display: grid;
  grid-gap: 20px;
  padding: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 100px;
  background-color: black; }

.item {
  padding: 20px; }

.box1 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 6;
  background-image: url(../images/background-homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 50px;
  text-align: center;
  color: #a47a07; }

h1 {
  background-color: black;
  border-radius: 50px; }

.box2 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 10;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 20px; }
  .box2 a {
    text-decoration: none;
    color: white; }
  .box2 .gallery-button {
    grid-column-start: 2;
    grid-row-start: 8;
    grid-row-end: 9; }
  .box2 .form-button {
    grid-column-start: 2;
    grid-row-start: 11;
    grid-row-end: 12; }
  .box2 .click {
    text-align: center;
    background-color: #a47a07;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 20px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; }

.box3 {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: blue;
  grid-row-start: 5;
  grid-row-end: 7;
  background-image: url(../images/camping-homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #a47a07;
  border-radius: 60px; }

.button, .button2, .button3, .button4 {
  text-decoration: none;
  padding: 10px;
  color: white; }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none; }

#camp-popup, #climb, #hiking, #fishing .popup-content {
  width: 250px;
  height: 200px;
  margin: 100px;
  position: relative;
  border: 5px solid #fff;
  background-color: white;
  border-radius: 5px; }

.close {
  position: absolute;
  top: 0px;
  right: 5px;
  background: #222;
  border-radius: 50%;
  text-decoration: none;
  border: 3px solid #fff;
  color: #fff;
  line-height: 0;
  padding: 9px 0 11px;
  width: 20px;
  text-align: center; }

.popup:target {
  display: block; }

.box4 {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: blue;
  grid-row-start: 5;
  grid-row-end: 7;
  background-image: url(../images/climbing-homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #a47a07;
  border-radius: 60px; }

.box5 {
  grid-column-start: 4;
  grid-column-end: 5;
  background-color: blue;
  grid-row-start: 5;
  grid-row-end: 7;
  background-image: url(../images/fishing-homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #a47a07;
  border-radius: 60px; }

.box6 {
  grid-column-start: 5;
  grid-column-end: 6;
  background-color: blue;
  grid-row-start: 5;
  grid-row-end: 7;
  background-image: url(../images/hiking-homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #a47a07;
  border-radius: 60px; }

.footer {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 9;
  grid-row-end: 10;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 10px;
  background-color: #a47a07; }
  .footer .facebook-icon {
    grid-column-start: 3;
    grid-row-end: 4;
    text-align: center; }
  .footer .twitter-icon {
    grid-column-start: 4;
    grid-row-end: 4;
    text-align: center; }
  .footer .Contact {
    grid-column-start: 2;
    grid-row-end: 3;
    text-align: center; }
  .footer .email {
    grid-column-start: 1;
    grid-row-end: 3;
    text-align: center; }

td {
  vertical-align: bottom;
  text-align: center;
  width: 200px;
  height: 180px;
  color: white; }

/* mobile */
@media only screen and (min-device-width: 1px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .box1 {
    background-image: url(../images/background-homepage2.jpeg); } }
/* tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .box1 {
    background-image: url(../images/background-homepage3.jpeg); } }
/* large desktop screen */
@media only screen and (min-device-width: 1200px) and (max-device-width: 1440px) and (-webkit-min-device-pixel-ratio: 2) {
  #grid {
    background: orange; } }

/*# sourceMappingURL=style.css.map */
